*,
::after,
::before {
  box-sizing: border-box;
}

html {
  /* overflow-x: hidden; */
  overflow-y: scroll;
}

body {
  background-color: #53f1f1;
  font-family: "Archivo", sans-serif;
  color: #000000;
  /* word-break: break-word; */
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.container {
  margin: 0 auto;
  max-width: 540px;
  padding: 1em;
  outline: 2px solid red;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation a {
  text-decoration: none;
}

header {
  text-decoration: underline;
  text-decoration-color: rgb(120, 90, 255, 0.6);
  text-decoration-thickness: 0.3em;
  text-decoration-skip-ink: auto;
}

nav {
  display: none;
}


nav ul {
  display: flex;
}

nav ul li {
  padding: 1rem;
  list-style: none;
}

main h1,
main li {
  font-weight: 600;
  font-style: italic;
}

main ul {
  margin-top: 2em;
  list-style: none;
  padding: 0;
  font-size: 2em;
}

main .lead {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main .lead p {
  font-size: 0.5em;
  font-weight: 200;
  font-style: normal;
}

main li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}

main li p {
  font-weight: 100;
  font-size: 0.6em;
}

main a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.07em;
  text-decoration-color: rgb(120, 90, 255, 0.6);
}

main p {
  font-size: 1.13rem;
}

footer {
  text-align: center;
}


/* Medium Screens i.e Tablets etc. media queries */

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .container {
    max-width: 720px;
    padding: 0em;
  }
}

/* Large Screens media queries */

@media only screen and (min-width: 992px) {
  .container {
    min-width: 960px;
    padding: 0em;
  }

  nav {
    display: block;
  }
}