{{- define "main" }}
<main class="home">
  <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ $paginator := .Paginate (where .Site.Pages "Kind" "page") }}
    {{ range .Paginator.Pages }}
    <li>
      {{ if ne .Title "Me" }}
      <div class="lead">
        <a href="{{.Permalink}}">{{.Title}}</a>
        <p>{{.Params.subtitle}}</p>
      </div>
      <p class="date">{{.Date.Format "Jan-02-06"}}</p>
    </li>
    {{ end }} {{ end }}
    {{ partial "pagination" .}}
  </ul>
</main>

{{ end }}
