{{ $pag := $.Paginator }} {{ if gt $pag.TotalPages 1 }}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {{ if $pag.HasPrev }}
    <li class="page-item">
      <a href="{{ $pag.Prev.URL }}" rel="prev" class="page-link"
        >&laquo; Prev</a
      >
    </li>
    {{ end }} {{ range $pag.Pagers }} {{ if eq . $pag }}
    <li class="page-item active">
      <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
    </li>
    {{ else }}
    <li class="page-item">
      <a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a>
    </li>
    {{ end }} {{ end }} {{ if $pag.HasNext }}
    <li class="page-item">
      <a href="{{ $pag.Next.URL }}" rel="next" class="page-link"
        >Next &raquo;</a
      >
    </li>
    {{ end }}
  </ul>
</nav>
{{ end }}

<style>
  .pagination {
    display: flex;
    list-style: none;
    border-radius: 0.25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
    background-color: #fff;
  }

  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
</style>
