/* Mobile first CSS */

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #53f1f1;
  font-family: "Archivo", sans-serif;
  color: #000000;
  text-rendering: optimizeLegibility;
  font-feature-settings: "smcp" on;
}

.container {
  margin: 0 auto;
  max-width: 540px;
  padding-right: 1em;
  padding-left: 1em;
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation a {
  text-decoration: none;
  color: #1d1dff;
}

.navigation a:active {
  text-decoration: none;
  color: #ff4b1e;
}

.navigation li {
  padding: 1rem;
  list-style: none;
  font-size: 1.2em;
}

/* nav logo */

header {
  text-decoration: underline;
  text-decoration-color: rgb(120, 90, 255, 0.6);
  text-decoration-thickness: 0.3em;
  text-decoration-skip-ink: auto;
}

/* homepage  */

.home ul {
  padding: 0;
}

.home .lead {
  display: flex;
  flex-direction: column;
}

.home .lead p {
  font-size: 1rem;
  font-weight: 300;
}

.home li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}

.home a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 0.4rem;
  font-style: italic;
  font-weight: 600;
}

.home .date {
  font-size: 1rem;
  font-weight: 100;
}

.about,
.home,
.singleContent {
  margin-bottom: 4em;
  padding-bottom: 2em;
  border-bottom: 1px solid #000;
}

/* Taxonomy */

.taxonomy {
  padding: 0;
  margin-bottom: 4em;
  padding-bottom: 2em;
  border-bottom: 1px solid #000;
}

.taxonomy .lead {
  display: flex;
  flex-direction: column;
}

.taxonomy .lead p {
  font-size: 1rem;
  font-weight: 300;
}

.taxonomy li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1em;
}

.taxonomy a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.4rem;
  margin-right: 0.4rem;
  font-style: italic;
  font-weight: 600;
}

.taxonomy .date {
  font-size: 1rem;
  font-weight: 100;
}

/* Universal main styling */

main a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.07em;
  text-decoration-color: rgb(120, 90, 255, 0.6);
}

main p {
  font-size: 1.13rem;
}

/* single pages */

article a {
  background-color: rgb(187, 214, 255);
}

.singleContent ol,
.singleContent ul {
  margin: 0;
  padding-left: 1.2rem;
}

.singleContent li {
  font-style: normal;
  font-size: 1.13rem;
}

.blogTitle {
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.readTime {
  font-weight: 300;
  font-style: normal;
  margin-right: 2rem;
}

.metaData {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.metaData p {
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
}

figure img {
  max-width: 100%;
  height: auto;
}

/* Footer */

footer {
  text-align: center;
  padding-bottom: 2em;
}

/* Medium Screens i.e Tablets etc. media queries */

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .home a {
    font-size: 1.7rem;
  }
}

/* Large Screens media queries */

@media only screen and (min-width: 992px) {
  .container {
    max-width: 1140px;
    padding: 0em;
  }

  .home .date {
    font-size: 1.13rem;
  }

  .home a {
    font-size: 2rem;
  }
}
